
.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
}
button{
    background-color: #ccc;
    border-radius: 3px;
    width: 100px;
    height: 20px;
    cursor: pointer;
    transition: 1s;
    &:hover{
        background-color: blue;
      }
}
/* Styles for Book cards */
/* .book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .book-card h2 {
    margin-top: 0;
}

.book-card p {
    margin: 5px 0;
} */

.book-card button {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

/* Styles for Form */
#addBookForm {
    display: none;
    margin-top: 20px;
}

#addBookForm label {
    display: block;
    margin-bottom: 5px;
}

#addBookForm input[type="text"],
#addBookForm input[type="number"],
#addBookForm input[type="checkbox"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#addBookForm input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
